
.Content {
    position: relative;
    margin-left: 200px;
}
.Coin_name {
    text-align:left;
}
table {
    border-style:solid;
    border-radius: 15px;
    width:calc(100vw - 250px) !important;
    text-align:right;
}
.icon {
    height:28px;
    width:28px;
}